[SddmGreeterTheme]
Name=sddm-custom-themes
Description=sddm-custom-themes
Author=jamie-cunningham
Website=https://github.com/jamie-cunningham/sddm-custom-themes
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=Themes/example.conf
Screenshot=Previews/astronaut.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-custom-themes
Theme-API=2.0
QtVersion=6